<nav>
    <div class="navbar-container">
      <!-- Logo at the most left -->
      <div class="navbar-brand">
        <a href="/">
          <img src="/images/logo.png" alt="JobEntry Logo" class="logo">
        </a>
      </div>
  
      <!-- Navigation Links -->
      <ul class="navbar-links">
        <% if (user) { %>
          <li><a href="/jobs">View all Jobs</a></li>
          <li><a href="/auth/sign-out">Sign Out</a></li>
        <% } else { %>
          <li><a href="/auth/sign-up">Sign Up</a></li>
          <li><a href="/auth/sign-in">Sign In</a></li>
        <% } %>
      </ul>
    </div>
  </nav>