views/listings/index.ejs

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User page</title>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs")%>

    <h1>Here is Jobs page</h1>
    <% allJobs.forEach((oneJob)=>{%>
        <li><a href="/jobs/<%= oneJob._id%>"><%=oneJob.jobTitle%></a></li>
    <%})%>
    <a href="/jobs">Create New Job</a>


  </body>
</html>
