/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.job-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.job-item:hover {
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
    transform: translateY(-5px);
}

.job-link {
    text-decoration: none;
    color: inherit;
}

.job-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.job-title {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.job-company, .job-location, .job-salary, .job-type, .job-deadline {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.apply-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
}

.apply-button:hover {
    background-color: #0056b3;
}

#search-area{
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 7px;
    background-color: #323232;
    border-radius: 5px;

  }

#searchInput{
    width: 30% !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    font-size: 16px !important;
  }

  #searchCategory{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #searchLocation{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  } 

