/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: url('./images/771285.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e4e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Navbar styles */
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }
  
  form {
    background-color: rgba(20, 20, 20, 0.9);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 1;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #60a5fa;
  }
  
  label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: #cbd5e1;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #475569;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #1e293b;
    color: #e4e4e7;
  }
  
  input:focus {
    border-color: #60a5fa;
    outline: none;
    background-color: #273549;
    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.4);
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1.5rem;
    background-color: #1d4ed8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1e40af;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.4);
  }
  
  .auth-links {
    margin-top: 1.5rem;
    text-align: center;
  }
  
  .auth-links a {
    color: #60a5fa;
    text-decoration: none;
    font-weight: bold;
  }
  
  .auth-links a:hover {
    text-decoration: underline;
  }
  