<!-- views/listings/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User page</title>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs")%>

    <h1>Here is User Profile page</h1>
    <a href="/user-profile-router/new">Create your Profile</a>

  </body>
</html>
