<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Profile</title>
</head>
<body>
    <h1>New Profile:</h1>
    
    <form action="/user-profile-router" method="POST">
        <label for="userId">User ID:</label>
        <input type="text" name="userId" id="user-id" />

        <label for="phoneNumber">Phone Number:</label>
        <input type="text" name="phoneNumber" id="phone-number" />

        <label for="address">Address:</label>
        <input type="text" name="address" id="address" />

        <label for="email">Email:</label>
        <input type="email" name="email" id="email"/>

        <label for="skills">skills:</label>
        <input type="text" name="skills" id="skills"/>

        <label for="skills">skills:</label> 
        <input type="text" name="skills" id="skills"/>



        <button type="submit">Save User Profile</button>
      
    </form>
</body>
</html>